# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
.pytest_cache/
*.log

# Node dependencies
node_modules/
npm-debug.log*

# OS artifacts
.DS_Store
Thumbs.db

stealthwall.egg-info/
dist/
build/
*.egg-info/

gh0stzk-dotfiles/
spotifyplan.md
SHORTCUTS.md
